{% extends "badge/base.html" %}

<!-- container Home -->
{% block centered_container  %}
{% include 'badge/includes/title.html' with titolo="Gestione PASS - Dati generali" %}
<div class="row p-3">
    <div class="col-12 col-lg-12">
      <!--start card-->
            <p>Inserire i dati generali del Pass. A seguire saranno richieste ulteriori informazioni specifiche in base alla tipologia selezionata.</p>
            <br>
            <form action="{% url 'new_badge' %}" method="post">
                {% csrf_token %}
                {% include 'badge/includes/bs4_form.html' with form=form %}
                <div class="d-grid gap-2 d-md-block text-center d-flex flex-column-reverse">
                    <a class="btn btn-secondary btn-icon" role="button" href="{% url 'lista_badge' %}">
                        <span class="rounded-icon">
                        <svg class="icon icon-secondary">
                            <use href="/static/svg/sprites.svg#it-arrow-left"></use>
                        </svg>
                        </span>
                        <span>Torna alla lista</span>
                    </a>
                    <button class="btn btn-primary btn-icon">
                        <span class="rounded-icon">
                        <svg class="icon icon-primary">
                            <use href="/static/svg/sprites.svg#it-plus"></use>
                        </svg>
                        </span>
                        <span>Crea</span>
                    </button>
                </div>    
            </form>
          
      <!--end card-->
    </div>
</div>
{% endblock centered_container  %}


