{% extends "badge/base.html" %}

<!-- container Home -->
{% block centered_container  %}
{% include 'badge/includes/title.html' with titolo="Modello Stampa Pass" %}
<div class="row p-3">
    <div class="col-12 col-lg-12">
      <!--start card-->
            <br>
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% include 'badge/includes/bs4_form.html' with form=form %}
                <div class="d-grid gap-2 d-md-block text-center d-flex flex-column-reverse">
                    <button class="btn btn-primary btn-icon">
                        <span class="rounded-icon">
                        <svg class="icon icon-primary">
                            <use href="/static/svg/sprites.svg#it-{% if is_create %}plus{% else %}check{% endif %}"></use>
                        </svg>
                        </span>
                        <span>{% if is_create %}Crea{% else %}Salva{% endif %}</span>
                    </button>
                    {% if is_create == False %}
                        <a class="btn btn-outline-primary btn-icon" role="button" href="{% url 'badge_preview' modello_id=object.id %}" target="_blank">
                            <span class="rounded-icon">
                            <svg class="icon icon-primary">
                                <use href="/static/svg/sprites.svg#it-password-visible"></use>
                            </svg>
                            </span>
                            <span>Anteprima</span>
                        </a>
                    {% endif %}
                    <a class="btn btn-secondary btn-icon" role="button" href="{% url 'modellostampa-list' %}">
                        <span class="rounded-icon">
                        <svg class="icon icon-secondary">
                            <use href="/static/svg/sprites.svg#it-arrow-left"></use>
                        </svg>
                        </span>
                        <span>Torna alla lista</span>
                    </a>
                </div>
            </form>
          
      <!--end card-->
    </div>
</div>
{% endblock centered_container  %}


